@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BookManagerWeb.Pages.AddBookModel
@{
    ViewData["Title"] = "Add Book";
}

<form method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="form-label" style="width: 75px" asp-for="addBook.Title"/>
        <input class="form-text tab" asp-for="addBook.Title" />
        <span asp-validation-for="addBook.Title" class="text-danger"></span>
    </div>
    
    <div class="form-group>">
        <label class="form-label" style="width:75px" asp-for="addBook.Price" />
        <input class="form-text" asp-for="addBook.Price" />
    </div>

    <div class="form-group">
        <label class="form-label" style="width: 72px" asp-for="@Model.CategoryItems"/>
        <select asp-for="CategorySelectedItemId" asp-items="Model.CategoryItems">
        </select>
    </div>

    

    <div class="form-group">
        <label class="form-label" style="width: 72px" asp-for="@Model.LanguageItems"/>
        <select asp-for="LanguageSelectedItemId" asp-items="Model.LanguageItems">
        </select>
    </div>

    

    <br />

    Image:
    
    @if(!string.IsNullOrWhiteSpace(@Model.ImageURL))
    {
        <img src="@Model.ImageURL" />
        @* <input class="form-control" asp-for="@Model.addBook.Image" src="@Model.ImageURL" /> *@
    }
    else
    {
        <input class="form-control" asp-for="@Model.addBook.Image" />
    }

    

    <br />

    <input class="btn btn-primary" type="submit" value="Add Book" />

</form>