@page "{pageNumber:int?}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BookManagerWeb.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    img {
        border: 5px solid #555;
        margin: 2px;
    }
</style>



<form method="post" style="margin:1%">
    <input style="float:right" type="submit" class="btn btn-primary" value="Add Book" />
</form>

<br/>
<br/>

<form method="get" asp-route-pageNumber="1" asp-route-searchKey="@Model.searchText" style="margin:1%">
    @* <label asp-for="@Model.searchText">Search: </label> *@
    <input type="search" style="line-height:2" class="text rounded" asp-for="@Model.searchText" />
    <input type="submit" class="btn btn-secondary" title="Search" value="Search"  />
</form>



<div>
    @foreach (var book in @Model?.pagedBooks?.Books)
    {
        <img id="book" src="data:image/jpg;base64, @Convert.ToBase64String(@book.Image)" alt="Responsive image with dynamic width and height" class="custom-img" />
    }    

</div>

<div style="margin:1%">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-page="./Index"
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       asp-route-searchKey="@Model.searchText"
       class="btn btn-link @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       asp-route-searchKey="@Model.searchText"
       class="btn btn-link @nextDisabled">
        Next
    </a>
</div>